In [2]:
import numpy as np
import pandas as pd
df=pd.read_csv("Downloads\\adverti.csv")
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [8]:
from sklearn.model_selection import train_test_split as tts
xt ,xte,yt,yte=tts(df.drop("Sales",axis=1),df["Sales"],test_size=0.2,random_state=42)

APPLYING LINAR REGRESSION

In [36]:
from sklearn.linear_model import LinearRegression 
lr=LinearRegression()
lr.fit(xt,yt)
y_pred=lr.predict(xt)

In [38]:
y_pred

array([11.91465765, 15.32881375,  9.91093345,  9.46132618, 17.23412363,
        7.22972412, 10.35454191, 15.23876611, 11.14036535, 11.71856758,
       13.85060866, 14.66570876, 10.44983379,  9.28550764,  9.02357336,
       12.47875166, 10.48712079, 24.99748731,  7.88523289, 15.8640533 ,
       21.30888748, 17.00814942, 12.79206695,  9.84041429, 21.01070892,
        7.48343928, 23.52204082,  7.05636619, 12.56968457, 10.08676368,
       11.1715446 ,  9.12566707, 16.92180225, 17.90167068, 15.63428805,
       18.26514616, 15.51584207, 19.23176429, 17.48701831, 21.82555114,
       10.58560762, 14.22101675, 10.75778538, 18.10690693,  9.94580615,
       17.38762989, 13.21321157, 23.7057409 , 11.04124955, 23.50498043,
        7.25377772, 19.17388849, 24.9725586 , 21.21199698, 18.85730214,
       16.49383903, 13.90044002, 11.26132856, 19.58689909, 15.32197517,
       15.91287266, 10.29394498, 20.24916557, 12.59260311, 21.37507598,
       11.62060518,  9.00761916, 19.44123849, 15.85637182, 18.5764323 ,
        9.57905955, 21.37254028, 24.69974685, 18.22258697, 18.82367855,
       14.9707016 , 16.30608241,  8.86438172, 17.37327271, 21.11096152,
       18.14037337,  5.57959415,  6.1332995 , 14.44267086, 19.48248709,
       18.97818971, 20.82881496, 23.10921728, 18.3593478 , 21.08665301,
       19.08752475, 22.06036098, 12.02892661, 17.12211276, 16.95452306,
        9.76141119, 17.39501824, 17.17068183, 19.58575617, 20.27251654,
       13.54873033, 20.13179451, 20.52616105,  9.70144596, 11.67058309,
       10.10407832, 13.29497496, 18.09509227,  6.56761894, 13.08901378,
       21.39081315, 17.28833116, 15.74733631,  5.39922804, 10.82718892,
       19.21744877, 15.99621659, 19.64920239, 24.29245646,  9.5898691 ,
       24.92524356, 10.90649352, 16.59569044, 25.04301452, 13.33663908,
       22.00989097,  9.7726583 , 16.06805732, 10.37865883, 21.37506225,
       18.90996814, 12.41971163, 18.27135985, 14.14842839, 16.07722174,
        6.20259989,  9.36113277, 13.9708546 , 13.11622466, 18.06158993,
       11.30252447, 20.89108544,  9.84441608,  8.78744807, 12.36888392,
       16.7703046 , 16.49225352, 13.85635374, 15.12076048, 18.88647079,
        8.14798206, 18.27158711, 19.64671463, 21.72296399, 12.28023473,
        7.31605557, 19.36005676, 20.21832647, 14.82664026, 21.09997649])

ERROR CHECKING

In [40]:
from sklearn.metrics import r2_score,mean_absolute_error
mean_absolute_error(yt,y_pred)

1.2344160869575869

In [42]:
r2_score(yt,y_pred)

0.9001416005862131

PREDECTIVE SYSTEM

In [67]:
def predict_sales( tv,rad,new):
    featuress=np.array([[tv,rad,new]])
    result=lr.predict(featuress).reshape(1,-1)
    return result[0]

In [55]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [51]:
df.iloc[0]

TV           230.1
Radio         37.8
Newspaper     69.2
Sales         22.1
Name: 0, dtype: float64

In [69]:
sale=predict_sales( 230.1,37.8,69.2)
sale

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([21.37254028])

Converting model in file

In [74]:
import pickle

In [76]:
pickle.dump(lr,open("linear_regrssion_model.pkl","wb"))